body {
    margin-right: auto ;
    text-align: justify;
    line-height: 1.5;
    font-family: arial;
    background-color: hsl(118, 100%, 95%);
    max-width: 800px;
    margin-left: auto;
}

h1 {
    background-color: #00A19D;
    border-radius: 10px;
    padding: 1%;
    border: #FFB344 4px double;
}

h2 {
    background-color: #E05D5D;
    padding: 1%;
}

.bordes-locos {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
blockquote{
    padding: 3px 10PX;
    border: powderblue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
html{
    background-color: lightgray;
    background: url("gota.png");
}